body{
    display:  flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#0d47a1, #42a5f5,  #bbdefb);
}
.wrapper{
    background-color: white;
    border: 2px solid  rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: white;
    width: 420px;
    align-items: center;
    padding: 30px 50px 40px ;
    
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: black;
}

.wrapper .input-box{
    width: 98%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;
}

.input-box input::placeholder{
    color: black;
}

.wrapper .login{
    width: 100%;
    height: 45px;
    background-color: skyblue;
    border: 2px solid black;
    outline: none;
    border-radius: 40px;
    font-size: 16px;;
}
.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
